body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #111;
      color: white;
      font-size: 22px;
    }
    p span {
      opacity: 0;
      display: inline-block;
      margin-right: 5px;
    }